.newAlbums {
    width: 100%;
}

.newAlbumsF {
    width: 100%;
}

.item {
    margin: 5px;
}

.albumBox {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.imageAlbum {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    opacity: 1;
    transition: all 0.8s;
}

.imageAlbum:hover {
    opacity: 0.5;
    transition: all 0.8s;
}

.albumContent {
    position: absolute;
    top: 100px;
    width: 100%;
}

.centerAlbum {
    position: relative;
    line-height: 5px;
    text-align: center;
    margin-top: 55px;
}

.albumNameH {
    font-size: 20px;
    font-weight: 700;
    color: #F6F5FB;
}

.artistNameH {
    color: #F6F5FB;
}

.btnPlay {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4E49B0;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.7s;

}

.btnPlay:hover {
    opacity: 1;
    transition: all 0.7s;
}

.albumPlay {
    color: #fff;
    font-size: 30px;
    margin: 10px 15px;
}